.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}
input{
    margin-left: 5%;
    border-color: #45a049;
}

form input[type="text"],
form input[type="number"],
form button {
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: calc(40% - 6px);
    display: flex;
    justify-content: center;
}

form button {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.main_error-prompter {
    display: none;
    color: red;
    margin-bottom: 10px;
}

.main_scoreboard-wrapper {
    margin-top: 20px;
}

.main_scoreboard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.main_scoreboard div,
.main_scoreboard p {
    margin-bottom: 5px;
}

.main_scoreboard-btn-container button {
    margin-right: 5px;
}
